@import "tailwindcss";

:root {
  --primary-color: #f472b6;
  --primary-soft: #fa9bb9;
  --primary-hover: #ec4899;

  --background: #fff9fa;
  --background-secondary: #ffffff;
  --background-card: #ffffff;
  --background-soft: #fff7f9;

  --text-primary: #27272a;
  --text-secondary: #52525b;
  --text-muted: #a1a1aa;

  --border-color: #fce7f3;

  --primary-10: rgb(244 114 182 / 0.1);
  --primary-20: rgb(244 114 182 / 0.2);
  --primary-30: rgb(244 114 182 / 0.3);
  --primary-50: rgb(244 114 182 / 0.5);

  --soft-10: rgb(250 155 185 / 0.1);
  --soft-20: rgb(250 155 185 / 0.2);
  --soft-30: rgb(250 155 185 / 0.3);
}

.dark {
  --background: #0f0f12;
  --background-secondary: #17171b;
  --background-card: #18181c;
  --background-soft: #202025;

  --text-primary: #f4f4f5;
  --text-secondary: #a1a1aa;
  --text-muted: #71717a;

  --border-color: rgb(250 155 185 / 0.2);

  --primary-10: rgb(244 114 182 / 0.1);
  --primary-20: rgb(244 114 182 / 0.2);
  --primary-30: rgb(244 114 182 / 0.3);
  --primary-50: rgb(244 114 182 / 0.5);

  --soft-10: rgb(250 155 185 / 0.1);
  --soft-20: rgb(250 155 185 / 0.2);
  --soft-30: rgb(250 155 185 / 0.3);
}